[submodule "Software engineering/ad_hoc"]
	path = Software engineering/ad_hoc
	url = https://github.com/rzetelskik/ad_hoc/
[submodule "Languages and Tools for Programming I (C++)/images"]
	path = Languages and Tools for Programming I (C++)/images
	url = https://github.com/rzetelskik/images
[submodule "Languages and Tools for Programming I (C++)/playlist"]
	path = Languages and Tools for Programming I (C++)/playlist
	url = https://github.com/rzetelskik/playlist
[submodule "Languages and Tools for Programming I (C++)/insertion-ordered-map"]
	path = Languages and Tools for Programming I (C++)/insertion-ordered-map
	url = https://github.com/rzetelskik/insertion-ordered-map
[submodule "Languages and Tools for Programming I (C++)/fibin"]
	path = Languages and Tools for Programming I (C++)/fibin
	url = https://github.com/rzetelskik/fibin
[submodule "Languages and Tools for Programming I (C++)/fibo"]
	path = Languages and Tools for Programming I (C++)/fibo
	url = https://github.com/rzetelskik/fibo
[submodule "Languages and Tools for Programming I (C++)/poset"]
	path = Languages and Tools for Programming I (C++)/poset
	url = https://github.com/rzetelskik/poset
[submodule "Languages and Tools for Programming I (C++)/tickets"]
	path = Languages and Tools for Programming I (C++)/tickets
	url = https://github.com/rzetelskik/tickets
[submodule "Languages and tools for programming II (Microservices)/jnp2"]
	path = Languages and tools for programming II (Microservices)/jnp2
	url = git@github.com:rzetelskik/jnp2.git
[submodule "Advanced Operating Systems/elf-converter"]
	path = Advanced Operating Systems/elf-converter
	url = git@github.com:rzetelskik/elf-converter.git
[submodule "Advanced Operating Systems/bpf-sanitizer"]
	path = Advanced Operating Systems/bpf-sanitizer
	url = git@github.com:rzetelskik/bpf-sanitizer.git
[submodule "Advanced functional programming/haskell-palette"]
	path = Advanced functional programming/haskell-palette
	url = git@github.com:rzetelskik/haskell-palette.git
[submodule "Compiler construction/latte"]
	path = Compiler construction/latte
	url = git@github.com:rzetelskik/latte-compiler.git
[submodule "Distributed systems/dsassignment1"]
	path = Distributed systems/dsassignment1
	url = git@github.com:rzetelskik/executor-system.git
[submodule "Distributed systems/dsassignment2"]
	path = Distributed systems/dsassignment2
	url = git@github.com:rzetelskik/atomic-disk-drive.git
